@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');
/* font-family: 'Lora', serif; */
.navbar{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    background:grey;
    font-family: 'Lora', serif;
    margin: 0px;
}

a{
    display:block;
    padding: 10px;
    color:white;  
    text-decoration:none;
    font-size: 30px;
    object-fit: cover;
}

a:hover{
    color: grey;
}

li{
    display: inline-block;
}

.neumorph{
    border-radius: 50px;
    background: white;
    box-shadow:  20px 20px 60px black,
            -20px -20px 60px white;
}

body {
    background-image: url('https://images.unsplash.com/photo-1642425145404-7f4f4ccc2cc9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2064&q=80');
    background-position: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0px;
    box-sizing: border-box;
    background-size: cover;
}

.card {
    backdrop-filter: blur(7px) saturate(48%);
    -webkit-backdrop-filter: blur(7px) saturate(48%);
    background-color: rgba(17, 25, 40, 0.06);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
